footer {
    background: #020024;
    color: #f9ff00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

footer ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-right: 40.8px;
}

footer a {
    color: #f9ff00;
    text-decoration: none;
}

.navSpacing {
    margin-right: 50px;
}

.footerLogo {
    font-size: 1.5em;
    margin-left: 40.8px;
}